.userPhoto {
  height: 80px;
  width: 80px;
  border-radius: 30px;
}

.paginator {
  margin: 10px;
}

.pageNumber {
  padding: 7px;
  border: 1px solid grey;
  font-weight: normal;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
  color: black;
}

/*.selectedPage {*/
/*   padding: 2px;*/
/*   font-weight: bold;*/
/*   color: #d74343;*/
/*}*/
